* {
  //list-style: none;
}

ul{
  display: flex;
}

li{
  margin: 15px;
}

table, td, th{
  border: solid 1px black;
}

.erreur{
  color: red;
}

.playersDiv{
  border: 2px solid black;
  margin: 10px;
}

.piaf{
  width: 200px;
}

.piaf img{
  max-width: 100%;
  max-height: 100%;
}

.piaf:hover img{
  filter: hue-rotate(300deg);
}

.background{
  height: 100vh;
  background-image: url("../img/grid.jpeg");
}

.text-piaf{
  background: rgb(100,106,211);
  background: linear-gradient(216deg, rgba(100,106,211,1) 0%, rgba(130,53,166,1) 77%);
  border-radius: 20px;
}
